* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 50px;
    background-color: #a788ab;
    text-align: center;
    justify-content: space-evenly;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}
nav a {
    /*Tipo de texto*/
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    /*^*/
    color: #a788ab;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
.parte {  
    display: flex;
    flex-wrap: wrap;
}
section {
    flex: 70%;
    background-color: #6a9eda;
    padding: 20px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #e2e37e;
}
@media screen and (max-width: 700px) {
    nav, .parte {
        flex-direction: column;
    }
}
/*Imagenes*/
.imagen{
    border: solid 5px #b2dafa;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    box-shadow: 6px 20px 10px #3c74af;
}
.imagenflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.imagenflex img{
    width: 350px;
    height: 350px;
    margin: 10px;
    border: solid 10px #b2dafa;
    flex: auto;
    box-shadow: 25px 20px 10px #3c74af;
}
/*Textos*/
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}